
@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title | Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/MüşteriTemplate/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/MüşteriTemplate/css/styles.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/490c82fb0e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">
                Müşteri Paneli
            </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3 @(ViewContext.RouteData.Values["Action"].ToString() == "Profile" ? "active" : "")"
                   href="@Url.Action("Profile","CustomerPanel")"><i class="fa-solid fa-user fa-2xs"></i> Profilim</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 @(ViewContext.RouteData.Values["Action"].ToString() == "Orders" ? "active" : "")"
                   href="@Url.Action("Orders", "CustomerPanel")"><i class="fa-solid fa-box fa-2xs"></i> Siparişlerim</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3"
                   href="#!"><i class="fa-solid fa-truck fa-2xs"></i> Kargo Takibi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 @(ViewContext.RouteData.Values["Action"].ToString() == "InComingMessages" || ViewContext.RouteData.Values["Action"].ToString() == "NewMessage" || ViewContext.RouteData.Values["Action"].ToString() == "MessageContent" || ViewContext.RouteData.Values["Action"].ToString() == "DeletedMessages" || ViewContext.RouteData.Values["Action"].ToString() == "SentMessages" ? "active" : "")"
                   href="@Url.Action("InComingMessages", "CustomerPanel")"><i class="fa-solid fa-envelope fa-2xs"></i> Mesajlar</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3"
                   href="@Url.Action("LogOut", "Login")"><i class="fa-solid fa-right-from-bracket"></i> Çıkış Yap</a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-default" id="sidebarToggle">
                        <i class="fa-solid fa-bars fa-lg"></i>
                    </button>
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("Profile","CustomerPanel")">Profilim</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#!">Kargom Nerede</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   id="navbarDropdown"
                                   href="#"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">Menü</a>
                                <div class="dropdown-menu dropdown-menu-end"
                                     aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("Orders", "CustomerPanel")">Siparişlerim</a>
                                    <a class="dropdown-item" href="#!">Yardım</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("LogOut", "Login")">Çıkış Yap</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/MüşteriTemplate/js/scripts.js"></script>
</body>
</html>