@model MvcOnlineTicariOtomasyon.Models.Customer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer Profile</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Profilim</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid img-circle"
                                         src="~/AdminLTE-3.2.0/dist/img/user8-128x128.jpg"
                                         alt="User profile picture">
                                </div>

                                <h3 class="profile-username text-center">@Model.CustomerFirstName @Model.CustomerLastName</h3>

                                <p class="text-muted text-center">@HttpContext.Current.User.Identity.Name</p>

                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Satın Alımlar</b> <a class="float-right">@ViewBag.totalPurchase</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Toplam Ödeme</b> <a class="float-right">@ViewBag.totalPrice ₺</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Toplam Alınan Ürün Sayısı</b> <a class="float-right">@ViewBag.totalProductCount</a>
                                    </li>
                                </ul>

                                <a href="#" class="btn btn-primary btn-block"><b>Kargo Takip</b></a>
                            </div>
                        </div>
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Hakkımda</h3>
                            </div>
                            <div class="card-body">
                                <strong><i class="fas fa-book mr-1"></i> Meslek</strong>
                                <p class="text-muted">
                                    Mekatronik Mühendisi
                                </p>
                                <hr>
                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Şehir</strong>
                                <p class="text-muted">@Model.CustomerCity</p>
                                <hr>
                                <strong><i class="fas fa-pencil-alt mr-1"></i> Telefon</strong>
                                <p class="text-muted">
                                    <span class="tag tag-info">+90 544 677 2494</span>
                                </p>
                                <hr>
                                <strong><i class="far fa-file-alt mr-1"></i> Duyrular</strong>
                                <p class="text-muted">Yeni ürünlerimiz için web sitemizi ziyaret edin.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Mesajlar</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Duyurular</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Ayarlar</a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    @Html.Action("PartialProfileMessages", "CustomerPanel")

                                    @Html.Action("PartialProfileAnnouncements", "CustomerPanel")

                                    @Html.Action("PartialProfileSettings", "CustomerPanel")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="~/AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE-3.2.0/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="~/AdminLTE-3.2.0/dist/js/demo.js"></script>*@
</body>
</html>


@*<section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card card-primary">
                        <div class="card-header d-flex justify-content-between">
                            <h3 class="card-title my-auto">Profil Bilgileri</h3>
                            <p class="text-primary fs-5 my-auto"><span class="text-black">Kullanıcı adı :</span> @HttpContext.Current.User.Identity.Name</p>
                        </div>
                        <form action="@Url.Action("Update", "CustomerPanel")" method="post">
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="Input1" class="form-label">Adınız</label>
                                    <input type="text" name="CustomerFirstName" value="@Model.CustomerFirstName" class="form-control" id="Input1">
                                </div>
                                <div class="mb-3">
                                    <label for="Input2" class="form-label">Soyadınız</label>
                                    <input type="text" name="CustomerLastName" value="@Model.CustomerLastName" class="form-control" id="Input2">
                                </div>
                                <div class="mb-3">
                                    <label for="Input3" class="form-label">Mail Adresiniz</label>
                                    <input type="email" name="CustomerMail" value="@Model.Email" class="form-control" id="Input3">
                                </div>
                                <div class="mb-3">
                                    <label for="Input4" class="form-label">Şehiriniz</label>
                                    <input type="text" name="CustomerCity" value="@Model.CustomerCity" class="form-control" id="Input4">
                                </div>
                                <div class="mb-3">
                                    <label for="Input5" class="form-label">Şifreniz</label>
                                    <input type="text" name="Password" value="@Model.Password" class="form-control" id="Input5">
                                </div>
                            </div>
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-end">
                                    <li class="page-item"><button class="btn btn-warning" type="submit">Bilgileri Güncelle</button></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>*@