@model MvcOnlineTicariOtomasyon.Models.Product

@{
    ViewBag.Title = "ProductUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.HiddenFor(x => x.ProductId)
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col text-center">
                    <h2>Ürün Güncelleme</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <label for="formcontrol1" class="form-label">Ürün Adı</label>
                    <input type="text" value="@Model.ProductName" name="ProductName" class="form-control" id="formcontrol1" placeholder="">
                </div>
                <div class="col-12 mb-3">
                    <label for="formcontrol2" class="form-label">Kategori Adı</label>
                    <select name="CategoryId" class="form-control" id="formcontrol2">
                        @foreach (var category in (List<SelectListItem>)ViewBag.categories)
                        {
                            <option value="@category.Value" @(category.Value == Model.CategoryId.ToString() ? "selected" : "")>@category.Text</option>
                        }
                    </select>
                    @*@Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.categories, new { @class = "form-control", id = "formcontrol2" })*@
                </div>
                <div class="col-12 mb-3">
                    <label for="formcontrol3" class="form-label">Ürün Markası</label>
                    <input type="text" value="@Model.ProductBrand" name="ProductBrand" class="form-control" id="formcontrol3" placeholder="">
                </div>
                <div class="col-12 mb-3">
                    <label for="formcontrol4" class="form-label">Ürün Görseli</label>
                    <input type="text" value="@Model.ProductImage" name="ProductImage" class="form-control" id="formcontrol4" placeholder="">
                </div>
                <div class="col-12 mb-3">
                    <label for="formcontrol5" class="form-label">Ürün Stok Adedi</label>
                    <input type="text" value="@Model.Stock" name="Stock" class="form-control" id="formcontrol5" placeholder="">
                </div>
                <div class="col-12 mb-3">
                    <label for="formcontrol6" class="form-label">Ürün Alış Fiyatı</label>
                    <input type="text" value="@Model.PurchasePrice" name="PurchasePrice" class="form-control" id="formcontrol6" placeholder="">
                </div>
                <div class="col-12 mb-3">
                    <label for="formcontrol7" class="form-label">Ürün Satış Fiyatı</label>
                    <input type="text" value="@Model.SalePrice" name="SalePrice" class="form-control" id="formcontrol7" placeholder="">
                </div>
                <div class="col-12 mb-3 text-center">
                    <button type="submit" class="btn btn-outline-warning">Güncelle</button>
                </div>
            </div>
        </div>
    </section>
</form>
