@using MvcOnlineTicariOtomasyon.Models
@model List<Product>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Ürün Tablosu</h3>

        <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body table-responsive p-0" style="height: 300px;">
        <table class="table table-head-fixed text-nowrap">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ürün Adı</th>
                    <th>Kategori Adı</th>
                    <th>Markası</th>
                    <th>Stok</th>
                    <th>Alış Fiyatı</th>
                    <th>Satış Fiyatı</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.ProductId</th>
                        <td>@item.ProductName</td>
                        <td>@item.Category.CategoryName</td>
                        <td>@item.ProductBrand</td>
                        <td>@item.Stock</td>
                        <td>@item.PurchasePrice ₺</td>
                        <td>@item.SalePrice ₺</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
